<button type="button" class="btn btn-success "*ngIf="(isAdminIn$!|async)"  routerLink="/shoe/add" routerLinkActive="active"> Add Shoe </button>
<br>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4" >
    <div id="imagen" class="col" *ngFor="let shoe of shoes">
        <div class="card h-100">
        <img  routerLink="/shoe/detail" src={{shoe.img}} class="card-img-top"
          alt="shoe" />
        <div class="card-body">
          <h4>{{shoe.supplier.name}}</h4>
          <h5 class="card-title">{{shoe.model}}</h5>
          <p class="card-text">€ {{shoe.price}} </p>
          <br>
          <button type="button" class="btn btn-dark " routerLink="/shoe/detail" > Show Detail </button>
          <br>
          <button type="button" class="btn btn-warning "*ngIf="(isAdminIn$!|async)" routerLink="/shoe/update" > Update Shoe </button>
          <button type="button" class="btn btn-danger "*ngIf="(isAdminIn$!|async)" routerLink="/shoe/delete/{{shoe.idShoe}}" > Delete Shoe </button>
        </div>
      </div>
    </div>     
</div>
